{% extends 'base.html'%}
<body>
{% block content %}
<div class="card grid " style="width: 600.8px;display: flex;">
    <div class="card-body g-col-2" style="width: 450px; display: inline;">

        <h4 class="card-title">FILE</h4>
        <div class="form-group" >
            <form method="POST" action="{{url_for("receive_data")}}" enctype="multipart/form-data" >
            <div>
            <label>Upload File</label><input type="file" class="form-control" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/csv">
            <div class="form-group" style=""><label>Merge Table Columns</label><select class="form-control">
                {% for column in dictionary%}
                <option value="value1">{{ column }}</option>
                {% endfor %}
            </select>
            </div>
                <div class="form-group"><label>New Table Columns</label><select class="form-control">
                    {% for column in new_table %}
                    <option value="value1">{{ column }}</option>
                    {% endfor %}
                </select>
                </div>
                </div>
            <button href="{{ url_for('receive_data')}}" type="submit" class="btn btn-primary" >Upload</button>

            </form>
            </div>


        </div>


        <button type="button" class="btn btn-primary" id="merge_button" style="">Merge Table</button>
</div>


<!-- /container -->

<!-- Add excel grid component-->
<div class="card" style="width: 600.8px;">
    <div class="card-body g-col-2" style="width: 450px; display: inline;"><h4 class="card-title">Table</h4>
<!--        <table class="table " style="">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>#</th>-->
<!--                <th>First Name</th>-->
<!--                <th>Last Name</th>-->
<!--                <th>Username</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <th scope="row">1</th>-->
<!--                <td>Mark</td>-->
<!--                <td>Otto</td>-->
<!--                <td>@mdo</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">2</th>-->
<!--                <td>Jacob</td>-->
<!--                <td>Thornton</td>-->
<!--                <td>@fat</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">3</th>-->
<!--                <td>Larry</td>-->
<!--                <td>the Bird</td>-->
<!--                <td>@twitter</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->

        <div id="app"></div>
    </div>
</div>
<script src="https://unpkg.com/canvas-datagrid"></script>

<script>

    const merge_button = document.getElementById("merge_button");



//     const app = document.getElementById('app');
//     const gridElement = document.createElement('div');
    const data = [
  { "col1": "foo\nbar", "col2": 0, "col3": "a" },
  { "col1": "bar\nfoo\nbar", "col2": 1, "col3": "b" },
  { "col1": "baz\nfoo\nbar", "col2": 2, "col3": "c" }
]
    merge_button.addEventListener('click', ()=>{
        console.log("clicked")
        fetch("{{url_for('merge_data')}}",{
                method:"POST",
                headers:{
                    "Content-Type": "application/json; charset=utf-8",
                },
                body:JSON.stringify({merged_table: {}
                ,new_table: {},
                columns:{}})
            }).then(res=>{

          });


        })
        const app = document.getElementById('app');
        const gridElement = document.createElement('div');
        const grid = canvasDatagrid({
        parentNode: gridElement,
         data,
        });

        grid.addEventListener('click', function (e) {
          if (!e.cell) return;
          grid.data[0][grid.schema[0].name] = 'Clicked on ' + e.cell.value;
        })

        app.append(gridElement);


            // Return the merged table and add to the document id and pass as post to merge table again











</script>
{% endblock %}
</body>
