{%  extends 'base.html' %}
{% block content %}
<form method="POST" action="{{ url_for("receive_data") }}" enctype="multipart/form-data">
<input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/csv">
    <label >
        <input type="text" placeholder="primary Key" name="primary_key">
        <input type="text" placeholder="Column Name" name="column_name">

    </label>
    <button type="submit" value="file" >UPLOAD</button>

<h1>{{ message }}</h1>
    <button type="button" id="button" value="add_data">Add Data</button>
{#<a href="{{ url_for("add_data") }}">Add Data</a>#}
    <ul>
     {%  if dictionary != None %}
            {% for file in dictionary %}
                <li>
            <h1>{{ file }}</h1>
                </li>
            {% endfor %}
         {%  else %}
         {% set dictionary ={} %}

    {% endif %}

    </ul>


  <script type="text/javascript">
        const add_button= document.getElementById("button")
        {#const data =({{dictionary}}).toJSON()#}
        var dictionary = {}
        {#console.log(data)#}
        {#const data1 = {{ dictionary }}#}
        {#const Navigate = window.Navigation#}
        {#console.log(Navigate)#}
        {#console.log(({{dictionary}}).toArray())#}
        add_button.addEventListener("click",()=>{
            console.log("clicked")
            fetch("{{ url_for("add_data") }}", {
                method:"POST",
                headers:{
                    "Content-Type": "application/json; charset=utf-8",
                },
                body:JSON.stringify({data: ({{dictionary | tojson}})  })
            }).then(res=>console.log(res))
                {#.then(()=>navigate("{{ url_for( "add_data")}}"))#}
            window.location.href = "{{ url_for("add_data") }}"
        })






    </script>
</form>
{% endblock %}